.hidden {
  display: none;
}

#greeting {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 70px;
  color: white;
  font-family: "굴림";
  text-align: center;
}

form {
  font-weight: bold;
  text-align: center;
}

ul {
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

div {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
}
